---
BasedOnStyle: LLVM
Language: Cpp
AccessModifierOffset: 0
AlignAfterOpenBracket: AlwaysBreak
AlignArrayOfStructures: Right
AlignEscapedNewlines: DontAlign 
AlignTrailingComments: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortLambdasOnASingleLine: Inline
AlwaysBreakTemplateDeclarations: Yes
BitFieldColonSpacing: After
BraceWrapping:
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false
ColumnLimit: 90
EmptyLineAfterAccessModifier: Leave
NamespaceIndentation: Inner
PackConstructorInitializers: CurrentLine
PointerAlignment: Left
ShortNamespaceLines: 10
SortIncludes: Never
SpaceAfterCStyleCast: true
SpaceBeforeParens: Never
SpaceBeforeParensOptions:
  AfterControlStatements: false
SpaceBeforeRangeBasedForLoopColon: false
Standard: c++20
TabWidth: 2
IndentWidth: 2
UseTab: Never
PenaltyReturnTypeOnItsOwnLine: 1000000
SeparateDefinitionBlocks: Always
RequiresClausePosition: OwnLine
IndentRequiresClause: true
