/build/

.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Ignore CPython cache
__pycache__/

### zig ###
# Zig programming language

zig-cache/
.zig-cache/
zig-out/
build/
build-*/
docgen_tmp/

